<h2>Tipo de Productos</h2>
<p><%= link_to "Productos", products_path%></p>
<p><%= link_to "Agregar", new_tipo_path%></p>
<table>
    <tr>
        <thead>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Accion</th>
        </thead>
    </tr>
    <% @tipos.each do |tipo| %>
        <tr>
            <td><%= tipo.name %></td>
            <td><%= tipo.description %></td>
            <td>
                <%= link_to "Editar", edit_tipo_path(tipo)%>
                <%= link_to "Eliminar", tipo, method: :delete, data: {confirm: "Desea eliminar este registro?"} %>
            </td>
        </tr>
    <%end%>
</table>